* {
  margin: 0;
  padding: 0;
}
body{
  background-image: url(assets/img/bluesky.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
.za-img {
  height: 400px;
  border-radius: 100px;
  margin-left: 370px;
}
.headingweb{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color:rgba(2, 38, 70, 0.959) ;
  padding: 40px;
  text-align: center;

}

  .za-img{
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
  @media (max-width: 549px){
    .hidden--mobile {
      display: none !important;
    }

    nav {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    nav > i {
      padding: 1rem;
      font-size: 2em;
    }

    nav > ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 0;
    }

    nav > ul > li {
      padding: 0.5rem;
      list-style-type: none;
    }
    @media (min-width: 550px) {
      nav > ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0 0;
      }

      nav > ul > li {
        display: inline-block;
        text-decoration: none;
        border: 1px solid;
        padding: 0.5rem 0.5rem;
        border-radius: 25px;
      }

      nav > .fa-bars {
        display: none;
      }


.contact {
  margin: 100px;
  margin-left: 60px;
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
  flex-direction: column;

}
h2{
  color: rgba(12, 66, 114, 0.959);
  font-size: 30px;
  margin-left: 2px;
}
h3{
  margin: 5px;
  font-family: 'Times New Roman', Times, serif;
  color:rgb(6, 193, 6) ;
  margin-bottom: 10px;
  font-size: 24px;
}
.par{
  letter-spacing: 1.2px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(1, 33, 61);
  font-size: 18px;
  margin-left: 5px;
}
.secondcontect{
  margin: 65px;
}
.secpar{
  letter-spacing: 1.2px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(1, 33, 61);
  font-size: 18px;
}
.headingcontact{
font-size: 50px;
margin-top: 100px;
text-align: center;

}


form{
  width: 40px;
  margin-left: 700px;
  margin-top: 100px;
  flex-direction: row;
}

.headTXT{
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  color:  rgba(223, 18, 18, 0.937);
  }
  .MsoNormal{
    color: rgba(1, 19, 36, 0.94);
    font-family: 'Times New Roman', Times, serif;
    font-size:18px;
    padding: 10px;
    margin-left: 75px;
    letter-spacing: 1.0px;
  }

  .cererbalpalsypage{
    background-color: rgb(16, 35, 29);
  }
  .row{
    padding: 20px;
    margin-right: 20px;
  }
  #zaza{
    margin-left: 82px;
    color: rgba(1, 21, 40, 0.937);
    font-family: 'Times New Roman', Times, serif;
    font-size:22px ;
  }
  strong{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
  }





