* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #ffffffcd;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  border: solid 10px #f1a602;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}


h1{
  color: #011a33;
  font-size: 55px;
  margin-left:30px ;
padding-left: 15px;
margin-top: 20px;
}

h2{
  color: #011a32;
  font-size: 40px;
  text-decoration: none;
  padding-left: 14px;
  margin-right: 2px;
}

h3{
  font-size: 30px;
  color: #011a32;
  margin: 12px;
}

h4{
  font-family: 'Times New Roman', Times, serif;
  font-size:25px ;
  padding: 12px;
}

p{
  margin-left: 14px;
  font-size: 22px;
  letter-spacing: 0.4px;
  padding: 1opx;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
}

.za{
  color: #f1a602;
  font-family: 'Times New Roman', Times, serif;
  font-size: 44px;
}

.zaidphoto{
  width: 200px;
  height:200px ;
  margin-left:50px ;
}

.container{
  margin: 50px;
  width: 80% auto;
  }

  .contact-box{
    background: #F9FAF9;
    display: flex;
  }
  .contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
  }

  .contact-right{
  flex-basis: 60px;
    padding: 10%;
    background: #f1a602;
    color: #F9FAF9;
  }

  .input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .input-row .input-group{
  flex-basis: 45%;
  }

  input{
    width: 100%;
    border: none;
    border-bottom:1px solid #ccc ;
    outline: none;
    padding-bottom: 5px;
  }

  textarea{
    width: 100px;
    border:1px solid #ccc ;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
  }

  button{
    background-color: #f1a602;
    outline: none;
    border: none;
    width: 100px;
  }

.container2{
  margin: 40px;
  width: 20% auto;
}

.form-1{
  width:30%;
  border-radius:10px ;
 margin: 50px;
padding: 20px;
}

.form-select1{
  border-radius: 5px;
  border-color: #01101f;
  padding: 10px;
}

#story-x{
  width:50%;
  border-radius:10px ;
 margin: 50px;
padding: 20px;
}
ul{
  margin-left: 14px;
  font-size: 20px;
  letter-spacing: 0.4px;
  padding:15px;
}

.footer{
  margin: 100px;
  text-align: center;
}

img{
  width: 400px;
  height: 400px;
  margin-left: 550px;
  border-radius: 300px;
  border-style: solid ;
  border-color: rgba(10, 1, 36, 0.7);
}

.ho-img{
  width: 800px;
  height: 500px;
  margin-left: 400px;
  border-radius: 300px;
}
.ex-img{
  width: 600px;
  height: 400px;
  margin-left: 500px;
  border-radius: 100px;
}
.books{
padding: 0%;
border: none;
border-radius:10px;
width:200px ;
height:auto ;
margin-left: 40px;
}
.footer-social {
margin: 20px;
}

.footer-social a{
margin: 20px;
width: 80px;
height: 80px;
color: #01101f;
box-shadow:  rgba(10, 1, 36, 0.7);

}
.footer-social a .fab{
  font-size: 30px;
}

.welcome{
  margin:40px ;
}

.simple{
  padding: 10px;
  margin: 19px;
}


@media (min-width: 992px) {
  .top-bar {
      padding: 0 60px;
  }
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

nav > ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #01101f;
  box-shadow: 0 0 20px rgba(10, 1, 36, 0.7);
  border-radius: 20px;
}

nav > ul > li {
float: left;
}

nav > ul > li:hover {
 background-color: #2B6F88;
 transition:ease-out 0.8s ;
 font-weight: 200px;
}

nav > ul > li a {
  display: block;
  color: #F9FAF9;
  text-shadow: 5px 5px 20px #000000;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

@media (min-width: 550px){
  nav > .fa-bars{
    display:none; }

}

@media (max-width: 549px){
.hidden--mobile {
display: none !important;
}

@media (min-width: 550px) {
nav > ul {
display: flex;
justify-content: space-evenly;
padding: 0 0;
}
